[submodule "home/alois/.oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
	path = home/alois/.oh-my-zsh/custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "home/alois/.oh-my-zsh/custom/plugins/zsh-completions"]
	path = home/alois/.oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "home/alois/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = home/alois/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "home/alois/.oh-my-zsh/custom/plugins/fzf-tab"]
	path = home/alois/.oh-my-zsh/custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "home/alois/.oh-my-zsh/custom/plugins/zsh-better-npm-completion"]
	path = home/alois/.oh-my-zsh/custom/plugins/zsh-better-npm-completion
	url = https://github.com/lukechilds/zsh-better-npm-completion.git
